.DS_Store
*/save.data*
*/save.index*
*/save.meta*
checkpoint
checkpoints
__pycache__/

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

.ipynb_checkpoints/


*.pyc
*.p
*.pkl 

*/.floyd*

